@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /** Custom Scrollbar **/
    .scrollbar::-webkit-scrollbar {
        width: 15px;
        height: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: rgb(0,0,0,0.2)
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: theme('colors.c-bg-dark');
        border-radius: 100vh;
        border: 2px solid black;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: theme('colors.c-fg-dark');
    }

    /** Loading Icon **/
    .lds-grid {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-grid div {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff;
        animation: lds-grid 1.2s linear infinite;
    }
    .lds-grid div:nth-child(1) {
        top: 8px;
        left: 8px;
        animation-delay: 0s;
    }
    .lds-grid div:nth-child(2) {
        top: 8px;
        left: 32px;
        animation-delay: -0.4s;
    }
    .lds-grid div:nth-child(3) {
        top: 8px;
        left: 56px;
        animation-delay: -0.8s;
    }
        .lds-grid div:nth-child(4) {
        top: 32px;
        left: 8px;
        animation-delay: -0.4s;
    }
    .lds-grid div:nth-child(5) {
        top: 32px;
        left: 32px;
        animation-delay: -0.8s;
    }
    .lds-grid div:nth-child(6) {
        top: 32px;
        left: 56px;
        animation-delay: -1.2s;
    }
    .lds-grid div:nth-child(7) {
        top: 56px;
        left: 8px;
        animation-delay: -0.8s;
    }
    .lds-grid div:nth-child(8) {
        top: 56px;
        left: 32px;
        animation-delay: -1.2s;
    }
    .lds-grid div:nth-child(9) {
        top: 56px;
        left: 56px;
        animation-delay: -1.6s;
    }
    @keyframes lds-grid {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0.5;
        }
    }

    /** React Select Customization **/
    .react-select-container .react-select-custom__control {
        @apply  text-xl p-2
                dark:bg-c-fg-dark dark:border-c-fg-dark 
                border-c-fg-light
    }
    .react-select-container .react-select-custom__menu { 
        @apply  dark:bg-c-fg-dark
    }
    .react-select-container .react-select-custom__input-container, 
    .react-select-container .react-select-custom__placeholder, 
    .react-select-container .react-select-custom__single-value {
        @apply  dark:text-c-text-primary-dark
                text-c-text-primary-light
    }
    .react-select-container .react-select-custom__option {
        @apply  text-xl p-4
                dark:text-c-text-primary-dark dark:hover:bg-c-primary-hover-dark
                text-c-text-primary-light hover:bg-c-primary-hover-light hover:text-c-text-primary-dark
    }
    .react-select-container .react-select-custom__option--is-selected,
    .react-select-container .react-select-custom__option--is-focused {
        @apply  dark:text-c-text-primary-dark dark:bg-c-primary
                text-c-text-primary-light bg-c-primary
    }

    /** Toggle/Boolean Input **/
    .toggle-bg:after {
        content: '';
        @apply absolute top-1 left-2
        bg-white
        border dark:border-c-fg-dark border-c-fg-light
        h-8 w-8 transition 
        shadow-sm
    }
    input:checked + .toggle-bg:after {
        transform: translateX(100%);
        @apply border-white
    }
    input:checked + .toggle-bg {
        @apply bg-c-primary border-c-primary
    }

    /** Custom styling for number-type inputs **/
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
  }

}